<div class="dashboard-content">
    <div class="row">
        <div class="col-2">
            <mat-form-field appearance="fill">
                <mat-label style="background-color: #c6d8d7; font-size: 16px;">Формат отображения</mat-label>
                <mat-select id="taskSelection" [(value)]="selected" (selectionChange)="sortTasksByDate($event.value)">
                <mat-option value="1">Все задачи</mat-option>
                <mat-option value="2">Сегодня</mat-option>
                <mat-option value="3">Завтра</mat-option>
                <mat-option value="4">Предстоящие</mat-option>
                <mat-option value="5">Просроченные</mat-option>
                <mat-option value="6">Выполненные</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2" [hidden]="!checkExistPermission('TASKS_ACCESS')">
            <mat-form-field appearance="fill" class="select-wrap">
                <mat-label style="background-color: #c6d8d7; font-size: 16px;">Выберите сотрудника...</mat-label>
                <mat-select [(value)]="selectedUser" (selectionChange)="sortTasksByUser($event.value)">
                    <mat-option value="-1" style="font-size: 16px;">Все сотрудники</mat-option>
                    <mat-option *ngFor="let user of responsibles" [value]="user.id" style="font-size: 16px;">
                    {{user.firstname}} {{user.lastname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <div class="container" [hidden]="!checkExistPermission('TASKS_CREATE')">
                <div>
                    <button mat-button color="primary" style="font-size: 14px; background-color: #c6d8d7;"(click)="openSourceModal()">Новая задача</button>
                </div>
            </div>
        </div>
        
    </div>


    <div class="row">
        <div class="col-3">
            <h4 class="center task__priority-title">Срочный приоритет</h4>
            <hr width="100%" color="#e73a3a" text-align="left" size="5" border-radius = "4px" style="box-shadow: inset 0 15px 12px -11px #770101">
            <mat-card *ngFor="let task of urgentPriorityTasks | selectTasks:recTasks:selected:selectedUser:4; let i = index" 
                [ngClass]="{'card' : true, 'card-lead' : true, 'darken-1' : true, 'background-card' : true, 'verticalLine_urgent ': true}"
                (click)="openHistory($event, task, i, urgentPriorityTasks)"
                >
                <mat-card-content class="white-text">
                    <span class="angle" [hidden]="!task.is_complete"></span>
                    <p style="color: black; font-size: 16px;"><strong>{{task.title}}</strong> </p>
                    <p style="color: black; font-size: 16px;"><strong>Лид: {{task.lead.title}}</strong></p>
                    <p style="color: black; font-size: 16px;"> <strong>{{task.lead.link}}/</strong> <strong>{{task.lead.phone}}</strong></p>
                    <p style="color: black; font-size: 16px;" ><strong>Дата выполнения: {{task.due_date}}</strong></p>
                    <p style="color: black; font-size: 16px;" ><strong>Время на выполнение: {{task.time_to_complete}}</strong></p>

                    <div class="flex-block content-between items-center">
                        <div class="lead__source">
                        
                            <span  style="color: black; font-size: 16px;" class="lead__source-title">{{ task.priority.title_ru }}<strong></strong></span>
                            
                        </div>

                        <div
                            class="lead__unit-title  unit__color"
                            [hidden]="!checkExistPermission('TASKS_CREATE')"
                        >{{ task.responsible }}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-3">
            <h4 class="center task__priority-title">Высокий приоритет</h4>
            <hr width="100%" color="#eca562" text-align="left" size="5" border-radius = "4px" style="box-shadow: inset 0 15px 12px -11px #864202">
            <mat-card *ngFor="let task of highPriorityTasks | selectTasks:recTasks:selected:selectedUser:3; let i = index" 
                [ngClass]="{'card' : true, 'card-lead' : true, 'darken-1' : true, 'background-card' : true, 'verticalLine_high ': true}"
                (click)="openHistory($event, task, i, highPriorityTasks)">

            <mat-card-content class="white-text">
                <span class="angle" [hidden]="!task.is_complete"></span>

                <p style="color: black; font-size: 16px;"><strong>{{task.title}}</strong> </p>
                <p style="color: black; font-size: 16px;"><strong>Лид: {{task.lead.title}}</strong></p>
                <p style="color: black; font-size: 16px;"> <strong>{{task.lead.link}}/</strong> <strong>{{task.lead.phone}}</strong></p>
                <p style="color: black; font-size: 16px;" ><strong>Дата выполнения: {{task.due_date}}</strong></p>
                <p style="color: black; font-size: 16px;" ><strong>Время на выполнение: {{task.time_to_complete}}</strong></p>

                <div class="flex-block content-between items-center">
                    <div class="lead__source">
                    
                        <span  style="color: black; font-size: 16px;" class="lead__source-title">{{ task.priority.title_ru }}<strong></strong></span>
                        
                    </div>

                    <div
                        class="lead__unit-title  unit__color"
                        [hidden]="!checkExistPermission('TASKS_CREATE')"

                    >{{ task.responsible }}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        </div>
        <div class="col-3">
            <h4 class="center task__priority-title">Средний приоритет</h4>
            <hr width="100%" color="#51bd5f" text-align="left" size="5" border-radius = "4px" style="box-shadow: inset 0 15px 12px -11px #01460a">
            <mat-card *ngFor="let task of mediumPriorityTasks | selectTasks:recTasks:selected:selectedUser:2; let i = index"
            [ngClass]="{'card' : true, 'card-lead' : true, 'darken-1' : true, 'white-text' : true, 'verticalLine_medium' : true}"
            (click)="openHistory($event, task, i, mediumPriorityTasks)"
            >

            <mat-card-content class="white-text">
                <span class="angle" [hidden]="!task.is_complete"></span>
                <p style="color: black; font-size: 16px;"><strong>{{task.title}}</strong> </p>
                <p style="color: black; font-size: 16px;"><strong>Лид: {{task.lead.title}}</strong></p>
                <p style="color: black; font-size: 16px;"> <strong>{{task.lead.link}}/</strong> <strong>{{task.lead.phone}}</strong></p>
                <p style="color: black; font-size: 16px;" ><strong>Дата выполнения: {{task.due_date}}</strong></p>
                <p style="color: black; font-size: 16px;" ><strong>Время на выполнение: {{task.time_to_complete}}</strong></p>

                <div class="flex-block content-between items-center">
                    <div class="lead__source">
                    
                        <span  style="color: black; font-size: 16px;" class="lead__source-title">{{ task.priority.title_ru }}<strong></strong></span>
                        
                    </div>

                    <div
                        class="lead__unit-title  unit__color"
                        [hidden]="!checkExistPermission('TASKS_CREATE')"

                    >{{ task.responsible }}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        </div>
        <div class="col-3">
            <h4 class="center task__priority-title">Низкий приоритет</h4>
            <hr width="100%" color="#57a4c2" text-align="left" size="5" border-radius = "4px" style="box-shadow: inset 0 15px 12px -11px #025374" >
            <mat-card *ngFor="let task of lowPriorityTasks | selectTasks:recTasks:selected:selectedUser:1; let i = index"
                [ngClass]="{'card' : true, 'card-lead' : true, 'darken-1' : true, 'white-text' : true, 'verticalLine_low' : true}"
                (click)="openHistory($event, task, i, lowPriorityTasks)"
                >
                <mat-card-content class="white-text">
                    <span class="angle" [hidden]="!task.is_complete"></span>
                    <p style="color: black; font-size: 16px;"><strong>{{task.title}}</strong> </p>
                    <p style="color: black; font-size: 16px;"><strong>Лид: {{task.lead.title}}</strong></p>
                    <p style="color: black; font-size: 16px;"> <strong>{{task.lead.link}}/</strong> <strong>{{task.lead.phone}}</strong></p>
                    <p style="color: black; font-size: 16px;" ><strong>Дата выполнения: {{task.due_date}}</strong></p>
                    <p style="color: black; font-size: 16px;" ><strong>Время на выполнение: {{task.time_to_complete}}</strong></p>

                    <div class="flex-block content-between items-center">
                        <div class="lead__source">
                        
                            <span  style="color: black; font-size: 16px;" class="lead__source-title">{{ task.priority.title_ru }}<strong></strong></span>
                            
                        </div>

                        <div
                            class="lead__unit-title  unit__color"
                            [hidden]="!checkExistPermission('TASKS_CREATE')"

                        >{{ task.responsible }}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
